IART_Fanorona/.idea/
IART_Fanorona/bin/gui/BoardPanel$1.class
IART_Fanorona/bin/gui/BoardPanel.class
IART_Fanorona/bin/gui/GUI$1.class
IART_Fanorona/bin/gui/GUI$2.class
IART_Fanorona/bin/gui/GUI.class
IART_Fanorona/bin/gui/Piece.class
IART_Fanorona/bin/gui/PlayMove.class
